Source: kodi-pvr-teleboy
Priority: extra
Maintainer: rbuehlma  <rbuehlma@?>
Build-Depends: debhelper (>= 9.0.0), cmake, libkodiplatform-dev (>= 16.0.0),
               kodi-addon-dev, zlib1g-dev, libyajl-dev, libcurl4-openssl-dev
Standards-Version: 3.9.4
Section: libs

Package: kodi-pvr-teleboy
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Teleboy PVR for Kodi
 Teleboy PVR for Kodi

Package: kodi-pvr-teleboy-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Teleboy PVR for Kodi
 debug symbols for Teleboy PVR for Kodi
